{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>About Us</b></h1>
	<h5><b>Know more about us below</b></h5>

{% endblock %}

{% block content %}

	<h1><b>Who Are We?</b></h1>
	<p>2NK SACCO is a transport based SACCO with its headquarters located in Nyeri Town. The SACCO has gained popularities in various parts of the country for its efficient service transport both ordinary fourteen capacity vans and executive – (shutles) and parcel deliveries. The SACCO vehicle offers daily trips to the capital city of Nairobi from major towns among them Nyeri ,Karatina , Nakuru, Eldoret,Thika and Nanyuki.</p>
	<p>The SACCO was formed in 1994 by matatu owners from Nyeri and Karatina at a time when the Matatu industry was known for its notoriety. With the zeal to streamline the operations and instill discipline a group of Matatu owners pursed the incorporation and registration of 2NK SACCO IN 1994 UNDER THE COOPERATIVES SOCIETY Act cap 490.</p>
	<p>The SACCO has upheld its core objectives of savings mobilization for owned landing at affordable rates to enable members engage in their businesses profitable and improve their lively hood.</p>
	
	<h1><b> Vision And Mission</b></h1>
	<h3><b>Vision</b></h3>
	<p>To be the leading Transport SACCO in Kenya.</p>
	<h3><b>Mission</b></h3>
	<p>To improve the livelihood of our members by providing excellent services.</p>
{% endblock content %}

{% block cont %}

	<h1><b>Patnership</b></h1>
	<p>2NK SACCO has continued to develop good working  relationships with all partners – and stake holders among them the ministry of industrialization and enterprise  development , cooperative bank ,KUSCCO, Petroleum   companies ,insurance companies ,Traffic and international  International Security departments vehicle Manufacturers &Local Authorities</p><br>
	<h1><b>Board of Directors</b></h1>
	<img src="/static/imgs/sacco7.jpg">

{% endblock %}

