{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>Our Contacts</b></h1>
	<h5><b>Always feel free to keep in touch with us</b></h5>

{% endblock %}	

{% block content %}

		<h3><b>Contacts Us</b></h3>
		<h5>If you have questions, concerns or comments feel free to contact us</h5> <br>
		<h6>Head Office,</h6>
		<h6>Kangaru Corner House,</h6>
		<h6>Nyeri</h6><br>
		<h6>Phone : 0721 374 310</h6>
		<h6>Email : info@2nksacco.co.ke</h6>
		<h6>Site  : www.2nksacco.co.ke</h6><br>

{% endblock content %}
