{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>CSR</b></h1>

{% endblock %}

{% block content %}

		
		<p>2NK SACCO has been able to associate with the communities within the region of the operation through participation in activities that promote good co-existence and assistance to the under privileged.</p>
		<p>2NK Sacco’s contribution in transforming society is immense. The Sacco has taken it as a duty to see it as its duty to see it has well guided programs that will benefit communities in all areas it operates.</p>
		<p>Recently the Sacco teamed up with other organizations in sponsoring the Nyeri Hospice Golf Tournament as part of its corporate Social Responsibility.(CSR)</p>
		<p>Held annually from 2014 and usually hosted by Nyeri Hospice the tournament is meant to raise funds to go towards taking care of cancer patients.</p>
		<p>The partnership with Nyeri Hospice which takes care of the terminally ill will benefit many patients who will receive the necessary treatment and medication.</p>
		<p>The society also sponsors Tumutumu School for the deaf and is looking forward to partnering with other schools and homes that cater for the people with special needs as a way of giving back to the community. According to the Sacco Chief Executive Officer Ann Nyawira.</p>
		<p>Indeed the Sacco is looking forward to partnering with other institutions offering care to the people with special needs.</p>
		<p>Nyeri Hospice situated on the out skirts of Nyeri Town was the first rural Hospice started in October 1995 as a satellite branch of Nairobi Hospice to cater for patients with life limiting cancer illness.</p>
		<p>The institution provides care to terminally ill cancer patients focusing on improving quality of life thereby turning the end of life into an important time of living.</p>

{% endblock content %}