{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>Our InfoCenter</b></h1>
	<h5><b>You want to know more about us, check the info below</b></h5>

{% endblock %}


{% block content %}

		<h2><b>Spotcash Mobile Banking</b></h2>
		<p>Our Mobile banking app (SPOTCASH)that allows members of 2NK  SACCOs  to be able to withdraw and deposit their money from and to their savings account respectively, simply by sending a Short Message Service (SMS) message to the SACCO requesting for the transaction. Once the withdrawal request has been received, the money shall then be transferred to the member’s MPesa account and the member shall then walk to a nearby M-Pesa store to redeem their money into cash.</p>
		<u><h4><b>SPOTCASH USSD MENU GUIDE</b></h4></u>
		<p>To access the menu::: dial <b>*645#.</b> Upon dialing the below message appears</p>
		<h5>Welcome to SpotCash mobile banking service.</h5>
		<h5>Please enter your SpotCash PIN to continue</h5>
		<p>Upon entering your Pin the below menu appears</p>
		<h5><b>Spot cash</b></h5>
		<ol type ="1">
			<li><b>Enquiries</b></li>
			<li><b>Airtime Purchase</b></li>
			<li><b>Withdraw to Mpesa</b></li>
			<li><b>Deposit</b></li>
			<li><b>Check Mini statements</b></li>
			<li><b>Inter account transfer</b></li>
			<li><b>My SpotCash Account</b></li>
			<li><b>Logout</b></li>
		</ol>
				


{% endblock content %}