{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>Membership Info</b></h1>
	<h5><b>Feel free to join us, you are all welcome</b></h5>

{% endblock %}

{% block content %}

		<h3><b>2NK Account Oppening</b></h3>
		<p>To Open an account with 2NK Sacco you just need the Bellow Listed Requirements.
		Application Requirements</p>
		<ul>
			<li>Completed Account opening form</li>
			<li>Original and copy of National ID Card</li>
			<li>A photo will be taken at our Branch.</li>
		</ul>
		<p>
		<h5><b>2NK SACCO Mobile Banking</b></h5>
		<img src="/static/imgs/sacco8.jpg">
		</p><br><br>

{% endblock content %}

{% block cont %}

	<h3><b>Download Application Form</b></h3>
	<a href="2nk-Account-Opening.pdf" download="2nk-Account-Opening.pdf"><img src="/static/imgs/download.jpg"></a>

{% endblock %}
