{% extends "sacco/base.html" %}

{% block c %}

	<h1><b>Our Services</b></h1>
	<h5><b>We provide quality services</b></h5>

{% endblock %}	

{% block content %}

		<h3><b>Percel Services</b></h3><br>
		<img src="/static/imgs/sacco5.jpg">
		<p>2NK SACCO offers reliable services within Kenya (NYERI-KARATINA -NAIROBI -NAKURU-THIKA -NYAHURURU-ELDORET-MOMBASA). 2NK Sacco Courier Ltd takes a proactive approach towards business; believe that our integrity, dedication, competitive rates and superior customer service sets the standards for others in our industry. We have become the preferred courier to many businesses and individuals.</p>
		<p>At 2NK Sacco we pride ourselves on personalized service and our commitment to our customers. 2NK SACCO offers an extensive list of transportation choices to better serve our customers needs.</p>

{% endblock content %}

{% block cont %}

	<h3><b>Transport Services</b></h3><br>
	<img src="/static/imgs/sacco3.jpg">
	<p>Formed over 15 years ago, 2NK Sacco has proven to be a reliable transport provider for its efficient public service transport and parcel delivery in the country. In a sector known for all wrong reasons, the Sacco has endeavored to streamline the operations and instill discipline thus commanding great respect from commuters.</p>
	<p>With new vehicles in good condition, well-mannered drivers and orderly receipted payments modes, 2NK Sacco stands out. The 2NK Sacco was formed by Matatu owners who envisioned to transform the transport sector. Indeed the Sacco was formed at a time when the industry was known for its notoriety. Today 2NK Vehicles plying various routes countrywide are epitome of orderly the transport sector ought to have.</p>
	<p>2NK offers daily trips to Nairobi from major towns Among the Nyeri,Karatina,Nakuru,Eldoret,Nanyuki and Thika. Commuters are well respected. The Sacco has ensured all is vehicles remain in good condition giving passengers comfort. It has taken seriously its responsibility to ensure commuters always arrive safely and on time to their destinations.</p>
	<p>Saccos Drivers regularly receive fresh training to keep them abreast with modern time changes on roads and technology. They are also trained on good public relations with the passengers. 2NK Drivers are strictly required to adhere to the 80Km per hour rules and have all the documents needed by the government all the time. For this the Sacco vehicles rarely record accidents.All vehicles are installed with security tracking and fleet management devices.</p><br><br>

	<h3><b>Petrol Station</b></h3><br>
	<img src="/static/imgs/sacco4.jpg">
	<p>In a bid to ensure that it provides quality, unadulterated fuel, the Sacco has partnered with Vivo energy, formerly Kenya Shell, who, on dealership basis supplies fuel and lubricants for sale to the customers at the Sacco’s Nyeri Mugumo service station. Other services offered at the highest standards are carwash services, vehicle service as well as availability of a Tyre clinic and Tyre sales.</p>
	<p>At Karatina, the Sacco also offers this quality fuel and lubricants as well as vehicle service, tyre clinic services and tyre sales at the 2NK Karatina service station, also branded by vivo energy.Due to these quality services, the stations have gained popularity among our customers.</p>

{% endblock %}